
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="/" class="nav-link">
             MUSIC Study
          </a>  Sample Tracking Dashboard
        </li>
      </ul>
      <div class="copyright">
        
        Created by <a target="_blank" href="https://www.twitter.com/chershiong">Shaun Chuah</a>
        <br />
        For support please <a href="mailto:cchuah@ed.ac.uk"> email</a> or text 07799692754
        
      </div>
    </div>
  </footer>
