
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="https://www.musicstudy.uk" class="nav-link">
             MUSIC Study
          </a>  Sample Tracking Dashboard
        </li>
      </ul>
      <div class="copyright">
        
        Code adapted by - <a target="_blank" href="https://www.twitter.com/chershiong">Shaun Chuah</a>
        Acknowledgements:
        <a target="_blank" 
                  href="https://www.creative-tim.com/">Creative-Tim</a> &
        <a target="_blank" href="https://appseed.us?ref=ct-demo">AppSeed</a>
        
      </div>
    </div>
  </footer>
