{% load static %}
<div class="qr-scroll">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="title">CIR Freezer 33</h4>
                    <img class="qrcode"
                         alt="CIR Freezer 33"
                         src="{% static 'assets/qrcodes/cirfreezer33.png' %}"
                         height="232"
                         width="232" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="title">Gartnavel CRF</h4>
                    <img class="qrcode"
                         alt="Gartnavel CRF"
                         src="{% static 'assets/qrcodes/gartnavelcrf.png' %}"
                         height="250"
                         width="250" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="title">QMRI CIR Freezer 10</h4>
                    <img class="qrcode"
                         alt="QMRI CIR Freezer 10"
                         src="{% static 'assets/qrcodes/cirfreezer10.png' %}"
                         height="250"
                         width="250" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="title">WGH</h4>
                    <img class="qrcode"
                         alt="WGH"
                         src="{% static 'assets/qrcodes/wgh.png' %}"
                         height="250"
                         width="250" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-5 ">
    <div class="card-header">
        <h3 class="card-title">Haemolysis Reference Palette</h3>
    </div>
    <div class="card-body">
        <img src="{% static 'assets/img/haemolysis.jpg' %}"
             alt="haemolysis palette"
             width="275"
             height="825" />
    </div>
</div>
