{% load static %}
<div class="card ">
  <div class="card-header"><h3 class="card-title">QR Location Codes</h3></div>

</div>

<div class="qr-scroll">

<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="title">WGH</h4>
          <img class="qrcode" src="{% static 'assets/qrcodes/wgh.png' %}" />
        </div>
      </div>
    </div>
  </div>

<div class="row">
<div class="col">
    <div class="card">
    <div class="card-body text-center">
        <h4 class="title">WGH CRF</h4>
        <img class="qrcode" src="{% static 'assets/qrcodes/wghcrf.png' %}" />
    </div>
    </div>
</div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="title">QEUH Glasgow</h4>
        <img class="qrcode" src="{% static 'assets/qrcodes/qeuhglasgow.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="title">QMRI</h4>
          <img class="qrcode" src="{% static 'assets/qrcodes/qmri.png' %}" />
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="title">QMRI Freezer 1</h4>
          <img class="qrcode" src="{% static 'assets/qrcodes/qmrifreezer1.png' %}" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="title">Shaun Chuah</h4>
          <img class="qrcode" src="{% static 'assets/qrcodes/shaunchuah.png' %}" />
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="title">Broc Drury</h4>
          <img class="qrcode" src="{% static 'assets/qrcodes/brocdrury.png' %}" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="title">Milly McAllister</h4>
          <img class="qrcode" src="{% static 'assets/qrcodes/milly.png' %}" />
        </div>
      </div>
    </div>
  </div>
  <!--template

<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="title">Sample created Dundee</h4>
          <img class="qrcode" src="{% static 'assets/qrcodes/samplecreateddundee.png' %}" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="title">Sample created Glasgow</h4>
          <img class="qrcode" src="{% static 'assets/qrcodes/samplecreatedglasgow.png' %}" />
        </div>
      </div>
    </div>
  </div>
  -->

</div>