{% extends "layouts/base.html" %}

{% block title %}
  Used Samples
{% endblock title %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Search Used Samples</h3>
        </div>
        <div class="card-body">
          <form id="searchform" action="{% url 'used_samples_search' %}" method="get">
            <div class="form-group">
              <input type="text" autofocus name="q" class="form-control" />
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-fill btn-success">Search</button>
              <a href="{% url 'used_samples' %}" class="btn btn-fill btn-secondary">Clear</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">Used Samples</h3>
        </div>
        {% include 'samples/includes/sample_table.html' %}
        {% if user.is_superuser %}
          <div class="card-footer">
            <a href="{% url 'used_samples_archive_all' %}"
               class="btn btn-fill btn-danger">ADMIN only - Update all used samples location to used</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script></script>
{% endblock javascripts %}
