[run]
omit = 
    *apps.py,
    *migrations/*,
    *tests/*,
    *wsgi.py,
    manage.py,
    *__init__.py,
    *asgi.py,
    config/*,
    *config.py,
    *storage_backends.py,
    *tests.py
    *venv/*

[report]
exclude_lines =
    if settings.DEBUG
