[run]
omit = 
    *apps.py,
    *migrations/*,
    *settings*,
    *tests/*,
    *wsgi.py,
    manage.py,
    *__init__.py,
    gunicorn-cfg.py,
    *asgi.py,
    *config.py,
    *storage_backends.py,
    *tests.py