{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
<div class="row">
  <div class="col-md-5">
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{field.label}}: {{ error|escape }}</span>
  </div>
</div>
</div>
    {% endfor %} 
  {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-7">
      <div class="card">
        <h3 class="card-header card-title">Sample Details</h3>
        <div class=card-body>
          <div class="table-responsive">
              <table class="table" id="">
  
                <tbody>
                  <tr>
                    <td>Sample ID</td>
                    <td>{{ sample.sample_id }}</td>
                  </tr>
                  <tr>
                    <td>Patient ID</td>
                    <td>
           
                      {% if gid_id %}                        
                        <a href="https://ecrf.igmm.ed.ac.uk/redcap_v10.0.30/DataEntry/record_home.php?pid=140&arm=1&id={{ gid_id }}" target="_blank" rel="noopener">{{ sample.patientid }} <i class="tim-icons icon-link-72"></i></a>
                        
                      {% else %}
                      
                        {{ sample.patientid }}

                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>Sample Location</td>
                    <td>{{ sample.sample_location }}</td>
                  </tr>
                  <tr>
                    <td>Sample Sublocation</td>
                    <td>{{ sample.sample_sublocation }}</td>
                  </tr>
                  <tr>
                    <td>Sample Type</td>
                    <td>{{ sample.sample_type }}</td>
                  </tr>
                  <tr>
                    <td>Sample Datetime</td>
                    <td>{{ sample.sample_datetime }}</td>
                  </tr>
                  <tr>
                    <td>Sample Comments</td>
                    <td>{{ sample.sample_comments }}</td>
                  </tr>
                </tbody>
              </table>
              </div>

              

          
        </div>
        <h3 class="card-header card-title">Sample Processing</h3>
        <div class=card-body>
          <div class="table-responsive">
              <table class="table" id="">
  
                <tbody>
                  <tr>
                    <td>Sample Processing Datetime</td>
                    <td>{{ sample.processing_datetime }}</td>
                  </tr>
                  <tr>
                    <td>Sample Fully Used?</td>
                    <td>{{ sample.is_fully_used }}</td>
                  </tr>
                  <tr>
                    <td>Time Between Sampling and Processing</td>
                    <td>
                      {% if processing_time is None %}
                      N/A
                      {% else %}
                      {{ processing_time }} minutes
                      {% endif %}
                      </td>
                  </tr>
                  
                  <tr>
                    <td>Sample Volume Remaining</td>
                    <td>
                      {% if sample.sample_volume is None %}
                      N/A
                      {% else %}
                      {{ sample.sample_volume }} {{ sample.sample_volume_units }}
                      {% endif %}
                    
                    
                    
                    </td>
                  </tr>
                  <tr>
                    <td>Freeze Thaw Count</td>
                    <td>{{ sample.freeze_thaw_count }}</td>
                  </tr> 
                  <tr>
                    <td>Haemolysis Reference Category (100 and above unusable)</td>
                    <td>{% if sample.haemolysis_reference is None %}
                      N/A
                      {% else %}
                      {{ sample.haemolysis_reference }} mg/dL
                      {% endif %}</td>
                  </tr>
                  <tr>
                    <td>Biopsy Location</td>
                    <td>{% if sample.biopsy_location is None %}
                      N/A
                      {% else %}
                      {{ sample.biopsy_location }}
                      {% endif %}</td>
                  </tr>
                  <tr>
                    <td>Biopsy Inflamed Status</td>
                    <td>{% if sample.biopsy_inflamed_status is None %}
                      N/A
                      {% else %}
                      {{ sample.biopsy_inflamed_status }}
                      {% endif %}</td>
                  </tr>                  
                </tbody>
              </table>
              </div>
            </div>


        <div class="card-footer">
          <a href="{% url 'sample_edit' pk=sample.pk %}?next={{ request.get_full_path }}" class="btn btn-fill btn-success">Edit</a>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card">
        <h3 class="card-title card-header">Shared Notes</h3>
        <div class="card-body">
          {% if related_notes %}
          {% for note in related_notes %}
          <a href="/notes/{{note.id}}">{{note.title}}</a>
          {% endfor %}
          {% else %}
          No notes referencing this sample.
          {% endif %}
        </div>
      </div>
      <div class="card">
        <h3 class="card-title card-header">Private Notes</h3>
        <div class="card-body">
          {% if private_notes %}
          {% for note in private_notes %}
          <a href="/notes/{{note.id}}">{{note.title}}</a>
          {% endfor %}
          {% else %}
          No notes referencing this sample.
          {% endif %}
        </div>
      </div>
      <div class="card">
        <h3 class="card-title card-header">History</h3>
        <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="">

              <tbody>
                <tr>
                  <td>First Registered</td>
                  <td>{{ sample.created }}</td>
                </tr>
                <tr>
                  <td>Created By</td>
                  <td>{{ sample.created_by }}</td>
                </tr>
                <tr>
                  <td>Last Modified</td>
                  <td>{{ sample.last_modified }}</td>
                </tr>
                <tr>
                  <td>Modified By</td>
                  <td>{{ sample.last_modified_by }}</td>
                </tr>
              </tbody>
            </table>  
            
            <p></p>
            <p></p>

            <table class="table" id="history_table">
              <thead>              
                <tr>               
                  <th>date/time</th>              
                  <th>change made</th>              
                  <th>responsible</th>              
              </tr>              
              </thead>
              
              <tbody>

              {% for change in changes %}
              <tr>
                <td>{{ change.new_record.history_date|date:"D j M Y, H:i"}}</td>
                <td>
                  
                    {% if change.changed_fields|length > 0 %}
                      {% for change_by_id in change.changes %}
                        <b>{{ change_by_id.field|title }}</b>
                        from
                        {% if change_by_id.old %}
                        <b>{{ change_by_id.old }}</b>
                      {% else %}
                        <b>blank field</b>
                        {% endif %}
                        to
                        <b>{{ change_by_id.new }}</b>
                        <br>
                      {% endfor %}
                    {% else %}
                    -
                    {% endif %}
                  </td>
                <td>{{ change.new_record.history_user }}</td>
              </tr>
              
              {% endfor %}
              <tr>
                <td>{{ sample.created }}</td>
                <td>First Created</td>
                <td>{{ sample.created_by }}</td>
              </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
