{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
<div class="row">
  <div class="col-xl-9">
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{field.label}}: {{ error|escape }}</span>
  </div>
</div>
</div>
    {% endfor %} 
  {% endfor %}
{% endif %}

<div class="row">
    <div class="col-xl-9">
      <h2><i class="tim-icons icon-pencil"></i> {{ page_title }}</h2>
      <div class="card">
        <!--<div class="card-header"><h3 class="card-title">Add New Sample</h3></div>-->
        <div class=card-body>
          <form autocomplete="off" method="POST">
            {% csrf_token %}
            {% load widget_tweaks %}
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}

              {% if field.name == 'sample_location' or field.name == 'sample_volume' %}

              <div class="row">
                <div class="form-group col-md-8">
                  {{ field.label_tag }}
                  {% render_field field class="form-control" %}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              
              {% elif field.name == 'sample_sublocation' or field.name == 'sample_volume_units' %}

                <div class="form-group col-md-4">
                  {{ field.label_tag }}
                  {% render_field field class="form-control" %}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              </div>

              {% else %}



              <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              </div>



              {% endif %}

            {% endfor %}

            <div class="card-footer">
              <button type="submit" value="submit" class="btn btn-fill btn-success">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <h2>QR Location Codes</h2>
      {% include 'includes/qrcodes.html' %}
    </div>
  </div>

  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    

    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      $('input#id_musicsampleid').focus();
      $('input#id_sample_location').autocomplete({
        source: '{% url 'autocomplete_locations' %}'
      });
      $('input#id_patientid').autocomplete({
        source: '{% url 'autocomplete_patients' %}'
      });

      $('label[for=id_biopsy_location], #id_biopsy_location').hide();
      $('label[for=id_biopsy_inflamed_status], #id_biopsy_inflamed_status').hide();
      $('label[for=id_haemolysis_reference], #id_haemolysis_reference').hide();


      // Show/Hide form fields depending on input sample type
      if ($('#id_sample_type').val() == 'Formalin biopsy' 
        || $('#id_sample_type').val() == 'RNAlater biopsy' 
        || $('#id_sample_type').val() == 'Paraffin tissue block') {
          $('label[for=id_biopsy_location], #id_biopsy_location').show();
          $('label[for=id_biopsy_inflamed_status], #id_biopsy_inflamed_status').show();
        };
        
      if ($('#id_sample_type').val() == 'EDTA plasma child aliquot'
        || $('#id_sample_type').val() == 'PaxGene ccfDNA plasma child aliquot'
        || $('#id_sample_type').val() == 'PaxGene ccfDNA extracted cfDNA') {
          $('label[for=id_haemolysis_reference], #id_haemolysis_reference').show();
        };
      

      $('#id_sample_type').change(function(){
        if ($('#id_sample_type').val() == 'Formalin biopsy' 
        || $('#id_sample_type').val() == 'RNAlater biopsy' 
        || $('#id_sample_type').val() == 'Paraffin tissue block') {
          $('label[for=id_biopsy_location], #id_biopsy_location').show("slow");
          $('label[for=id_biopsy_inflamed_status], #id_biopsy_inflamed_status').show("slow");
        } else {
          $('label[for=id_biopsy_location], #id_biopsy_location').hide();
          $('label[for=id_biopsy_inflamed_status], #id_biopsy_inflamed_status').hide();
        };
      });

      $('#id_sample_type').change(function(){
        if ($('#id_sample_type').val() == 'EDTA plasma child aliquot'
        || $('#id_sample_type').val() == 'PaxGene ccfDNA plasma child aliquot'
        || $('#id_sample_type').val() == 'PaxGene ccfDNA extracted cfDNA') {
          $('label[for=id_haemolysis_reference], #id_haemolysis_reference').show("slow");
        } else {
          $('label[for=id_haemolysis_reference], #id_haemolysis_reference').hide();
        };
      });





    });
  </script>

{% endblock javascripts %}
