{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header"><h3 class="card-title">Search Used Samples</h3></div>
      <div class="card-body">
        <form id="searchform" action="{% url 'used_samples_search' %}" method="GET">
          <div class="form-group">
            <input type="text" autofocus name="q" class="form-control" />
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-success">
              Search
            </button>
            <a href="{% url 'used_samples' %}" class="btn btn-fill btn-secondary"
              >Clear</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h3 class="card-title">Used Samples</h3>
      </div>
      <div class="card-body">
        <div class="d-flex flex-row-reverse pb-3">
          Total Count: {{ sample_count }}
        </div>
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>Sample ID</th>
                <th>
                  Patient ID
                </th>
                <th>
                  Sample Location
                </th>
                <th>
                  Sample Sublocation
                </th>
                <th>
                  Sample Type
                </th>
                <th>
                  Sample Datetime
                </th>
                <th>
                  Comments
                </th>
                <th>
                  View
                </th>
                <th>
                  Reactivate
                </th>
              </tr>
            </thead>
            <tbody>


              {% if sample_list %}

                  {% for sample in sample_list %}
                  <tr>
                      <td>{{ sample.sample_id }}</td>
                      <td>{{ sample.patient_id }}</td>
                      <td>{{ sample.sample_location }}</td>
                      <td>
                        {% if sample.sample_sublocation is None %}
                        {% else %}
                        {{ sample.sample_sublocation }}
                        {% endif %}
                      </td>
                      <td>{{ sample.sample_type }}</td>
                      <td>{{ sample.sample_datetime }}</td>
                      <td>{{ sample.sample_comments }}</td>
                      <td>
                        <a href="{% url 'sample_detail' pk=sample.pk %}"
                          ><i class="tim-icons icon-zoom-split"></i> View</a
                        >
                      </td>
                      <td>
                        <a href="{% url 'reactivate_sample' pk=sample.pk %}"><i class="tim-icons icon-upload"></i> Reactivate</a>
                      </td>
                    </tr>
                  {% endfor %}
              {% else %}
                  <tr><td colspan="9" align="center">No samples found.</td></tr>
              {% endif %}

            </tbody>
          </table>
          {% include "layouts/pagination.html" %}
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
  </script>

{% endblock javascripts %}
