{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
  Dashboard
{% endblock title %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="row">
          <div class="col-xl-9">
            <div class="alert alert-danger">
              <button type="button"
                      aria-hidden="true"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <span>{{ field.label }}: {{ error|escape }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-xl-9">
      <h2>
        <i class="tim-icons icon-tag"></i> QR Scan - Update Locations
      </h2>
      {% include "barcode/barcode_nav.html" %}
      <div class="card notes remove-top-border-radius">
        <div class="card-header">
          <h3 class="card-title">Instructions</h3>
        </div>
        <div class="card-body">
          <p>
            <strong>Important Note:</strong> Barcode scanners work like keyboards. For most scanners, the default is to provide the 'enter' key after scanning a barcode. Some scanners may need to be configured to provide the 'enter' or 'tab' key on code scan. This page accepts both 'enter' and 'tab' keys from barcode scanners.
          </p>
          <h4>Steps:</h4>
          <ol>
            <li>Set the appropriate location and sublocation.</li>
            <li>
              Click the barcode ID scanning area and start scanning QR codes. It will automatically tag the samples with the location as set in the boxes above.
            </li>
          </ol>
          <p>
            <strong>Tip:</strong> If a label won't scan, you can type in the sample ID and hit enter instead.
          </p>
        </div>
      </div>
      <div class="card">
        <!--<div class="card-header"><h3 class="card-title">Add New Sample</h3></div>-->
        <div class="card-body">
          <form autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_sample_location">Sample Location</label>
              <input class="form-control"
                     type="text"
                     id="id_sample_location"
                     placeholder="Enter the location here.." />
            </div>
            <div class="form-group">
              <label for="id_sample_sublocation">Sample Sublocation</label>
              <input class="form-control"
                     type="text"
                     id="id_sample_sublocation"
                     placeholder="and a sublocation eg. box name" />
            </div>
            <div class="form-group">
              <label for="sample_id">Barcode ID scanning area</label>
              <input type="text"
                     class="form-control"
                     id="sample_id"
                     placeholder="Click here and start scanning barcodes..." />
            </div>
            <div class="alert alert-success">
              <button type="button"
                      aria-hidden="true"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <span>Success - Sample Updated</span>
            </div>
            <div class="alert alert-danger">
              <button type="button"
                      aria-hidden="true"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <span>Error <span id="error_message"></span></span>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Scan History</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <td>Sample ID</td>
                <td>Status</td>
                <td>Sample Location</td>
                <td>Sample Sublocation</td>
              </thead>
              <tbody id="tbody">
                <tr>-</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mt-4 ">
        <div class="card-header">
          <h3 class="card-title">Haemolysis Reference Palette</h3>
        </div>
        <div class="card-body">
          <img src="{% static 'assets/img/haemolysis.jpg' %}"
               alt="haemolysis palette"
               width="275"
               height="825" />
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{% static 'assets/js/sample_add_autocomplete.js' %}"></script>
  <script>
    var url_string = '/api/sample_location/' + $('#sample_id').val() + '/';
    var token = '{{csrf_token}}'

    function submitScan() {
      $.ajax({
        headers: {
          "X-CSRFToken": token
        },
        url: url_string,
        method: 'put',
        data: {
          'sample_id': $('#sample_id').val(),
          'sample_location': $('input#id_sample_location').val(),
          'sample_sublocation': $('input#id_sample_sublocation').val(),
        },
        success: function(result) {
          $('.alert-success').show();
          $('.alert-success').fadeOut(1000);
          $('#tbody tr:first').before(`<tr><td>${$('#sample_id').val()}</td><td>Success</td><td>${$('#id_sample_location').val()}</td><td>${$('#id_sample_sublocation').val()}</td></tr>`);
          $('#sample_id').val("");
          $('#sample_id').focus();
          console.log(result);
        },
        error: function(error) {
          $('#error_message').text(error.statusText + '(Scanned ID: ' + $('#sample_id').val() + ')');
          $('.alert-danger').show();
          $('.alert-danger').fadeOut(3000);
          $('#tbody tr:first').before(`<tr><td>${$('#sample_id').val()}</td><td>Error - ${error.statusText}</td><td>Error</td><td>Error</td></tr>`);
          $('#sample_id').val("");
          $('#sample_id').focus();
        },

      });
    };

    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      $('.alert').hide();

      $('#sample_id').keyup(function() {
        url_string = '/api/sample_location/' + $('#sample_id').val() + '/';
      });

      $('#sample_id').keydown(function(e) {
        if (e.keyCode == 13 || e.keyCode == 9) {
          e.preventDefault();
          submitScan();
        }
      });

    });
  </script>
{% endblock javascripts %}
