{% extends "layouts/auth.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="login-container">
  <div class="col">


     
        <h4 class="title">Password Reset Complete</h4>
       
        <p>Your password has been set. You may go ahead and log in now.</p>    
            
        

      <div class="mt-5"><a class="btn btn-fill btn-success" href="/login">Log In</a></div>
   



  </div>
</div>
</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
