{% extends "layouts/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Change Your Password</h4>
          {% if form.errors %}
            <div class="alert alert-danger">
              <button type="button"
                      aria-hidden="true"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <span>{{ form.errors }}</span>
            </div>
          {% endif %}
        </div>
        <form role="form" method="post" action="">
          <div class="card-body">
            {% csrf_token %}
            {% load widget_tweaks %}

            {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
            {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
              </div>
            {% endfor %}
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-success">Reset</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Tips</div>
        <div class="card-body">
          {% for field in form.visible_fields %}
            {% if field.help_text %}{{ field.help_text }}{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
