{% extends "layouts/base.html" %}

{% block title %}
  Users
{% endblock title %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">User Management</h3>
        </div>
        <div class="card-body">
          <h4>Suggestions</h4>
          <p>
            Here you can manage the users of G-Trac.
            <br />
            Only staff members are allowed to add new users and administrate the system.
          </p>
          <p>
            When team members are no longer active, you can deactivate their accounts.
            <br />
            This will prevent them from logging in to the system while also maintaining audit history.
          </p>
        </div>
        <div class="card-body">
          <a href="{% url 'new_user' %}" class="btn btn-fill btn-success">Add New User</a>
          <div class="d-flex flex-row-reverse pb-3">Total Count: {{ users.count }}</div>
          <div class="table-responsive">
            <table class="table tablesorter" id="mainTable">
              <thead class="text-primary">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Edit Profile</th>
                  <th>Is Staff</th>
                  <th>Actions</th>
                  <th>Last Login</th>
                  <th>Date Joined</th>
                  <th>Is Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% if users %}
                  {% for user in users %}
                    <tr>
                      <td class="mr-1">
                        <div class="d-flex align-items-center">
                        
                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                      </div>
                      </td>
                      <td class=" mr-1">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="14"
                             height="14"
                             fill="#1f2937"
                             viewBox="0 0 256 256">
                          <path d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM203.43,64,128,133.15,52.57,64ZM216,192H40V74.19l82.59,75.71a8,8,0,0,0,10.82,0L216,74.19V192Z" />
                        </svg>
                        {{ user.email }}
                      </td>
                      <td>
                        <a href="{% url 'edit_user' user.id %}">Edit</a>
                      </td>
                      <td>
                        {% if user.is_staff %}
                          <svg xmlns="http://www.w3.org/2000/svg"
                               width="24"
                               height="24"
                               fill="#22c55e"
                               viewBox="0 0 256 256">
                            <path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z" />
                          </svg>
                        {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg"
                               width="24"
                               height="24"
                               fill="#ef4444"
                               viewBox="0 0 256 256">
                            <path d="M165.66,101.66,139.31,128l26.35,26.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z" />
                          </svg>
                        {% endif %}
                      </td>
                      <td>
                        {% if user.is_superuser %}
                          System Admin
                        {% elif user.is_staff %}
                          <a href="{% url 'remove_staff' user.id %}" class="btn btn-sm btn-danger">Remove Staff</a>
                        {% else %}
                          <a href="{% url 'make_staff' user.id %}" class="btn btn-sm btn-success">Make Staff</a>
                        {% endif %}
                      </td>
                      <td>{{ user.last_login|date:'d M Y H:i' }}</td>
                      <td>{{ user.date_joined|date:'d M Y H:i' }}</td>
                      <td>
                        {% if user.is_active %}
                          <svg xmlns="http://www.w3.org/2000/svg"
                               width="24"
                               height="24"
                               fill="#22c55e"
                               viewBox="0 0 256 256">
                            <path d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z" />
                          </svg>
                        {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg"
                               width="24"
                               height="24"
                               fill="#ef4444"
                               viewBox="0 0 256 256">
                            <path d="M165.66,101.66,139.31,128l26.35,26.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z" />
                          </svg>
                        {% endif %}
                      </td>
                      <td>
                        {% if user.is_active %}
                          <a href="{% url 'deactivate_account' user.id %}"
                             class="btn btn-sm btn-danger">Deactivate Account</a>
                        {% else %}
                          <a href="{% url 'activate_account' user.id %}"
                             class="btn btn-sm btn-success">Reactivate Account</a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="9" align="center">No active users found.</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
