<!DOCTYPE html>
<html lang="en">

<!-- Static assets -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Description" content="Sample management system for lab research.">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">

  <title>G-Trac</title>

  <!--     Fonts and icons     -->  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="preload" href="{% static 'assets/fonts/nucleo.woff2' %}" as="font" type="font/woff2" crossorigin>
  <!-- CSS Files -->
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/jquery-ui.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/notes.css' %}" rel="stylesheet" />
  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
</head>
  <body class="white-content"> <!--add white-content to turn on light mode-->
    <div class="wrapper">    
    {% include 'includes/sidebar.html' %}    
    <div class="main-panel" data="blue">
      {% include 'includes/navigation.html' %}
      <div class="content">
        {% include 'includes/messages.html' %}
        {% block content %}{% endblock content %}
      </div>
      {% include 'includes/footer.html' %}
    </div>    
  </div> 
  {% include 'includes/scripts.html' %}
  {% include 'includes/scripts-sidebar.html' %}
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
  {% endblock javascripts %}
  </body>
</html>
