<div class="card-body">
  <div class="d-flex flex-row-reverse pb-3">Total Count: {{ box_count }}</div>
  <div class="table-responsive">
    <table class="table tablesorter" id="mainTable">
      <thead class="text-primary">
        <tr>
          <th>Box ID</th>
          <th>Groups</th>
          <th>Experimental IDs</th>
          <th>Location</th>
          <th>Sublocation</th>
          <th>Box Type</th>
          <th>Sample Types</th>
          <th>Tissue Types</th>
          <th>Comments</th>
          <th>Created</th>
          <th>Created By</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for box in box_list %}
          <tr>
            <td>{{ box.box_id }}</td>
            <td>
              {% if box.basic_science_groups_display %}
                {{ box.basic_science_groups_display }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>
              {% for exp_id in box.experimental_ids.all %}
                {{ exp_id.get_basic_science_group_display }} - {{ exp_id.name }} {{ exp_id.date|date:'d M Y' }}
                {% if not forloop.last %}<br />{% endif %}
              {% empty %}
                N/A
              {% endfor %}
            </td>
            <td>{{ box.get_location_display }}</td>
            <td>{{ box.row }}{{ box.column }}{{ box.depth }}</td>
            <td>{{ box.get_box_type_display }}</td>
            <td>
              {% with sample_labels=box.get_sample_type_labels %}
                {% if sample_labels %}
                  {% for label in sample_labels %}
                    {{ label }}
                    {% if not forloop.last %}<br />{% endif %}
                  {% endfor %}
                {% else %}
                  N/A
                {% endif %}
              {% endwith %}
            </td>
            <td>
              {% with tissue_labels=box.get_tissue_type_labels %}
                {% if tissue_labels %}
                  {% for label in tissue_labels %}
                    {{ label }}
                    {% if not forloop.last %}<br />{% endif %}
                  {% endfor %}
                {% else %}
                  N/A
                {% endif %}
              {% endwith %}
            </td>
            <td>{{ box.comments }}</td>
            <td>{{ box.created|date:'d M Y' }}</td>
            <td>{{ box.created_by.email }}</td>
            <td>
              <a href="{% url 'boxes:detail' box.pk %}"><i class="tim-icons icon-zoom-split"></i> View</a>
            </td>
            <td>
              <a href="{% url 'boxes:edit' box.pk %}"><i class="tim-icons icon-pencil"></i> Edit</a>
            </td>
            <td>
              <a href="{% url 'boxes:delete' box.pk %}"><i class="tim-icons icon-send align-center"></i> Used</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="14" class="text-center">No boxes found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include "layouts/pagination.html" %}
</div>
