{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<h2>
  {% if page_title == 'My Notebook' %} <i class="tim-icons icon-single-02"></i> 
  {% else %} <i class="tim-icons icon-calendar-60"></i>
  {% endif %}

  {{ page_title }}
</h2>
<div class="row">
  <div class="col mb-4">
    <a href="/notes/add/" class="btn btn-fill btn-success">Add New Note</a>
  </div>
</div>
<div class="row">
  <div class="col-xl-9 col-lg-8">
    {% if notes %}
    <div class="row">
    {% for note in notes %}
    
      <div class="col-xl-4 col-lg-6">
        <div class="card notes">
          <div class="card-header">
            <div class="float-right">
              {% if note.is_public %}
              <span class="tag badge badge-dark">Shared</span>
              {% else %}
              <span class="tag badge badge-light">Private</span>
              {% endif %}
            </div>
            <h1 class="card-title"><a href="{% url 'note_detail' pk=note.pk %}">{{ note.title }}</a></h1>
            <h4 class="card-subtitle">{{note.published_date|date:"j F Y" }} | <a target="_blank" rel="noopener noreferrer" href="mailto:{{ note.author.email }}"> {{ note.author.first_name }} {{ note.author.last_name }} <i class="tim-icons icon-email-85"></i></a></h4>
          
            
          </div>
          <hr />
          <div class="card-body">
            {{ note.content|striptags|truncatewords:60 }} (<a href="{% url 'note_detail' pk=note.pk %}">read more</a>)
            
          </div>
          <hr />
          <div class="card-footer">
            <small>
              
              {% if note.tags.all %}
              Tags: 
              {% for tag in note.tags.all %}
              <a href="{% url 'note_tags' slug=tag.slug %}"><span class="tag badge badge-info">{{tag.slug}}</span></a>
              {% endfor %}
              
              
              {% endif %}

              {% if note.sample_tags.all %}
              |
              Sample Tags:
              {% for sample in note.sample_tags.all %}
              <a href="{% url 'sample_detail' pk=sample.pk %}"><span class="tag badge badge-secondary">{{ sample }}</span></a>
              {% endfor %}
              {% endif %}
            </small>
            {% if request.user.id == note.author.id %}
            <div class="float-right">
            <small><a href="{% url 'note_edit' pk=note.pk %}?next_url={{next_url}}">Edit</a> | <a href="{% url 'note_delete' pk=note.pk %}?next_url={{next_url}}">Delete</a></small>
            </div>
            {% endif %}
          </div>

        </div>


      </div>
    
    {% endfor %}
    </div>
    {% elif '/notes/search/' in request.path %}
    <div class="notes card">
      <div class="card-header">
        <h1 class="card-title">No search results available.</h1>
        <h4 class="card-subtitle"></h4>
      </div>
      <div class="card-footer"></div>

    </div>
    {% else %}
    <div class="notes card">
      <div class="card-header">
        <h1 class="card-title">No results available.</h1>
        <h4 class="card-subtitle">The contents listed under this filter have either been deleted or are private.</h4>
      </div>
      <div class="card-footer"></div>

    </div>

    {% endif %}
  </div>
  
  <div class="col-xl-3 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Search Notes</h3>
      </div>
      
      <div class="card-body">
        <form action="/notes/search/" method="GET">
        <div class="form-group">          
          <input type="text" class="form-control" name="q" placeholder="Search title, content and sample ID" />
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-fill btn-success">Search</button>
        </div>
        </form>
      </div>     
    
    </div>

    <div class="card tags">
      <div class="card-header">
        <h3 class="card-title">Tags</h3>
      </div>
      <div class="card-body">
        {% for tag in all_tags %}
        <a href="{% url 'note_tags' slug=tag.slug %}"><span class="large-tag badge badge-info">{{tag.slug}}</span></a>
        {% endfor %}
      </div>
    </div>
      
    <div class="card authors">
      <div class="card-header">
        <h3 class="card-title">Authors</h3>
      </div>
      <div class="card-body">
        {% for user in users %}
        <a href="{% url 'note_authors' pk=user.pk %}"><span class="large-tag badge badge-secondary">{{user.first_name}} {{user.last_name}}</span></a>
        {% endfor %}
      </div>
    </div>

  </div>


</div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  
</script>
{% endblock javascripts %}