<footer class="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a target="_blank" href="{% url 'home' %}" class="nav-link">GI-DAMPS | MUSIC Study</a> Sample Tracking
        Dashboard
      </li>
    </ul>
    <div class="copyright">
      Created by Shaun Chuah | v3.0 Dec 2025 | <a href="{% url 'api-v3-docs' %}"
    target="_blank"
    rel="noopener noreferrer">API Docs</a>
      <br />
      <a href="mailto:shaun.chuah@glasgow.ac.uk">Email Support</a>
    </div>
  </div>
</footer>
