{% if messages %}
  {% for message in messages %}  
      {% if message.tags == 'success' %}
    <div class="row">
      <div class="col">
      <div class="alert alert-success">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
        <span><b> Success - </b> {{ message }}</span>
      </div>
    </div>
  </div>

      {% elif message.tags == 'error' %}
      <div class="row">
        <div class="col">
      <div class="alert alert-danger">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
        <span><b> Error - </b> {{ message }}</span>
      </div>
    </div>
  </div>
      {% else %}
      <div class="row">
        <div class="col">
        <div class="alert">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span>{{ message }}</span>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
{% endif %}