.notes.card {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 25rem;
}

.notes .card-header {
    padding:1.5rem;
    padding-bottom: 0;
}

.notes .card-body {
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.notes .card-footer{
    padding: 1.5rem;
    padding-top: 0;
    
}

.notes .card-header a {
    color: rgba(25,25,25);
}

.notes h2, h3 {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.notes h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 2.4rem;
}

.notes .card-body h1 {
    font-size: 1.7rem;
}

.notes .card-title a {
    font-weight: 600;
}

.notes h2 {
    font-size: 1.6rem;
}

.notes h3 {
    font-size: 1.5rem;
}

.notes h4 {
    font-size: 1.3rem;
}

.notes li {
    margin-bottom: 0.3rem;
}

.notes h5 {
    font-size: 1.2rem;
}

.notes h6 {
    font-size: 1.1rem;
}

.notes .card-subtitle {
    font-size: 1rem;
    color: rgba(34, 42, 66, 0.705);
    margin-top: 0.7rem;
}

.notes p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.3rem;
}

.notes table {
    border-collapse: collapse;
    border-color: rgba(34,42,66,0.5);
    width: 100%;
    max-width: 100%;
    overflow: auto;
    border-width: 0.0625rem;
    margin-bottom: 2rem;
}

.notes table td {
    border: 0.0625rem solid rgba(34,42,66,0.5);
    border-left: 0;
    border-right: 0;
    padding: 0.5rem;

}

.notes ul {
    margin-bottom: 2rem;
}

.notes table tr th {
    border: 0.0625rem solid rgba(34,42,66,0.9);
    padding: 0.5rem;
    border-left: 0;
    border-right: 0;
    background: rgba(34,42,66,0.9);
    color: white;
}




.large-tag {
    font-size: 1rem;
    font-weight: 400;
}

.tag {
    font-weight: 400;
}

.django-ckeditor-widget{
    width: 100%;
  }

.tags a {
    line-height: 2rem;
}

.authors a {
    line-height: 2rem;
}