{% extends "layouts/auth.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="login-container">



                <h3 class="title">Reset Password</h3>

                <h6 class="card-category">
                    {% if msg %}
                      <span class="text-danger">{{ msg }}</span>
                    {% endif %}  
                </h6>

              <form role="form" method="post" action="">
              <div>
              
              
                {% csrf_token %} 

                  {% load widget_tweaks %}
                  {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                  {% endfor %}
      
                  {% for field in form.visible_fields %}
                    <div class="form-group">
                      {{ field.label_tag }}
                      {% render_field field class="form-control" %}
                      
                    </div>
                  {% endfor %}
                </div>
                  <div class="mt-5">
                    <button type="submit" class="btn btn-fill btn-success">Reset</button>
                  </div>


              </form>

      </div>
      </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
