{% extends "layouts/auth.html" %}

{% block title %} Register {% endblock %} 


{% block content %}

        <div class="row">
          <div class="col d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="login-container">
          <div class="col">
 

             
                <h4 class="title">Reset Password</h4>
               
                <p>We've emailed you instructions for resetting your password.
                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <p>For further support please email <a href="mailto:cchuah@ed.ac.uk">cchuah@ed.ac.uk</a></p>
                
                
      
              <div class="mt-5"><a class="btn btn-fill btn-success" href="/">Return Home</a></div>
           



          </div>
        </div>
        </div>
      </div>


{% endblock content %}
