{% extends "layouts/auth.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div
    class="col d-flex justify-content-center align-items-center"
    style="height: 80vh"
  >
    <div class="login-container">
      <h3 class="title text-center"><i class="tim-icons icon-molecule-40"></i> SampleTrek </h3>
      <h4 class="title text-center">Reset Password</h4>

      <h6 class="card-category">
        {% if msg %}
        <span class="text-danger">{{ msg }}</span>
        {% endif %}
        {% if form.errors %}
        <div class="alert alert-danger">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span>{{ form.errors }}</span>
        </div>
    {% endif %}
      </h6>

      <form role="form" method="post" action="">
        {% csrf_token %} 
        {% load widget_tweaks %} 
        {% for hidden_field in form.hidden_fields %} 
        {{ hidden_field }} 
        {% endfor %} 
        {% for field in form.visible_fields %}
        
        <div class="row">
          <div class="col">
            <div class="form-group">
              {{ field.label_tag }} 
              {% render_field field class="form-control"%}
            </div>
          </div>
        </div>
        
        {% endfor %}
        
        <div class="mt-5">
          <button type="submit" class="btn btn-fill btn-success">Reset</button>
        </div>
        </form>
    </div>
  </div>
</div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
