{% extends "layouts/base.html" %}

{% load widget_tweaks %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
  {% include "boxes/boxes_nav.html" %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Search Boxes</h3>
        </div>
        <div class="card-body">
          <form id="searchform" action="{% url 'boxes:search' %}" method="get">
            <div class="form-group">
              <input type="text" autofocus name="q" class="form-control" />
            </div>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input mr-2"
                     id="id_include_used_boxes"
                     name="include_used_boxes"
                     value="True"
                     class="form-control" />
              <label for="id_include_used_boxes" class="form-check-label">Include used boxes?</label>
            </div>
            <div>
              <button type="submit" class="btn btn-fill btn-success">Search</button>
              <a href="{% url 'boxes:list' %}" class="btn btn-fill btn-secondary">Clear</a>
              <a href="{% url 'boxes:filter' %}"
                 class="btn btn-fill btn-success float-lg-right">Advanced Filtering</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Basic Science Boxes</h3>
        </div>
        <div class="card-footer">
          <a href="{% url 'boxes:create' %}" class="btn btn-fill btn-success">Add New Box</a>
          <a href="{% url 'boxes:export_csv' %}?q={{ query_string }}"
             class="btn btn-success float-lg-right"
             data-toggle="tooltip"
             data-placement="bottom"
             data-html="true"
             title="Tip: Customise the export by searching for the set of samples you wish to download."><i class="tim-icons icon-cloud-download-93"></i> Export Current View to CSV</a>
        </div>
        {% include 'boxes/includes/box_table.html' with box_list=boxes %}
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
      $("#mainTable").tablesorter({
        sortReset: true,
        headers: {
          9: {
            sorter: false
          },
          12: {
            sorter: false
          },
          13: {
            sorter: false
          },
          14: {
            sorter: false
          }
        },
      });
    });
  </script>
{% endblock javascripts %}
