{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}


<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Samples Overview By Type</h3>
      </div>
      <div class="card-body">
      <div class="form-group">
              <form method="get">
        <select class="form-control" name="q" id="sample_type_select">
          <option value="">Select a sample type</option>
          {% for type in sample_category_list %}
            <option value="{{ type }}">{{ type }}</option>
          {% endfor %}
        </select>
        
              <button type="submit" value="submit" class="btn btn-fill btn-success">Show Samples</button>
            
        </form>
        </div>

      </div>
     {% regroup sample_list by patientid as grouped_sample_list %}
      <div class="card-body">
      <p>Number of samples: {{sample_list|length}}</p>
      <p>Number of subjects: {{grouped_sample_list|length}}</p>
        <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th>Patient ID </th>
              <th>{{ query }} </th>
            </tr>
        </thead>

        <tbody>
          
          {% for sample in grouped_sample_list %}
          <tr>
            <td>{{sample.grouper }}</td>
            <td>
            {% for item in sample.list %}
            <a href="{% url 'sample_detail' pk=item.pk %}">
              {{ item.sample_id }}<br />
            </a>
            {% endfor %}      
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
        </div>


        </div>


      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
  $("#mainTable").tablesorter({
    sortReset   : true,
    dateFormat : "ddmmyyyy",
    headers: { 5: {sorter: 'shortDate'}, 7: {sorter: false}, 8: {sorter: false}, 9: {sorter: false}, 10: {sorter: false}, 11: {sorter: false} },
  });
});
</script>
{% endblock javascripts %}
