{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header"><h3 class="card-title">Search Active Samples</h3></div>
      <div class="card-body">
        <form id="searchform" action="{% url 'sample_search' %}" method="GET">
          <div class="form-group">
            <input type="text" autofocus name="q" class="form-control" />
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-success">
              Search
            </button>
            <a href="{% url 'home' %}" class="btn btn-fill btn-secondary"
              >Clear</a
            >
            <a href="/filter/" class="btn btn-fill btn-success float-lg-right">Advanced Filtering</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Active Samples</h3>
      </div>
      <div class="card-footer">
        <a href="{% url 'sample_add' %}" class="btn btn-fill btn-success">Add New Sample</a>
        <a href="/barcode/" class="btn btn-fill btn-success">Barcode Location Scanning</a>
        <!--<a href="/bulkadd/" class="btn btn-success"
          >Bulk Add Samples</a
        >-->
        <a
          href="/export_excel?q={{query_string}}"
          class="btn btn-success float-lg-right"
          data-toggle="tooltip"
          data-placement="bottom"
          data-html="true"
          title="<strong>Tip:</strong> Customise the export by searching for the set of samples you wish to download."
          ><i class="tim-icons icon-cloud-download-93"></i> Export Current View
          to Excel</a
        >

      </div>
      <div class="card-body">
        <div class="d-flex flex-row-reverse pb-3">
          Total Count: {{ sample_count }}
        </div>
        <div class="table-responsive">
          <table class="table tablesorter" id="mainTable">
            <thead class="text-primary">
              <tr>
                <th>Sample ID</th>
                <th>Patient ID</th>
                <th>Sample Location</th>
                <th>Sample Sublocation</th>
                <th>Sample Type</th>
                <th>Sample Datetime</th>
                <th>Comments</th>
                <th>View</th>
                <th>Checkout</th>
                <th>Edit</th>
                <th class="text-center">Fully Used</th>
                <th class="text-center">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% if sample_list %} {% for sample in sample_list %}
              <tr>
                <td>{{ sample.sample_id }}</td>
                <td>{{ sample.patient_id }}</td>
                <td>{{ sample.sample_location }}</td>
                <td>
                  {% if sample.sample_sublocation is None %}
                  {% else %}
                  {{ sample.sample_sublocation }}
                  {% endif %}
                </td>
                <td>{{ sample.sample_type }}</td>
                <td>{{ sample.sample_datetime|date:'d M Y H:i' }}</td>
                <td>{{ sample.sample_comments }}</td>
                <td>
                  <a href="{% url 'sample_detail' pk=sample.pk %}"
                    ><i class="tim-icons icon-zoom-split"></i> View</a
                  >
                </td>
                <td>
                  <a
                    href="{% url 'sample_checkout' pk=sample.pk %}?next={{ request.get_full_path }}"
                  >
                    <i class="tim-icons icon-cloud-upload-94"></i> Checkout
                  </a>
                </td>
                <td>
                  <a
                    href="{% url 'sample_edit' pk=sample.pk %}?next={{ request.get_full_path }}"
                    ><i class="tim-icons icon-pencil"></i> Edit</a
                  >
                </td>
                <td class="text-center">
                  <a href="{% url 'sample_fully_used' pk=sample.pk %}"
                    ><i class="tim-icons icon-send align-center"></i></a
                  >
                </td>
                <td class="text-center">
                  <a href="{% url 'sample_delete' pk=sample.pk %}"
                    ><i class="tim-icons icon-trash-simple align-center"></i></a
                  >
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="12" align="center">No active samples found.</td>
              </tr>
              {% endif %}
            </tbody>
          </table>

          {% if sample_list.has_other_pages %}
          <div class="row">
            <div class="col">
              <ul class="pagination">
                {% if sample_list.has_previous %}
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page={{ sample_list.previous_page_number }}"
                    >&laquo;</a
                  >
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&laquo;</span>
                </li>
                {% endif %}

                {% if sample_list.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ sample_list.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in sample_list.paginator.page_range %}
                  {% if sample_list.number == i %}
                  <li class="page-item active">
                    <span class="page-link"
                      >{{ i }} <span class="sr-only">(current)</span></span
                    >
                  </li>
                  {% elif i > sample_list.number|add:'-5' and i < sample_list.number|add:'5' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                  {% endif %}
                {% endfor %}

                {% if sample_list.paginator.num_pages > sample_list.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{ sample_list.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if sample_list.has_next %}
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page={{ sample_list.next_page_number }}"
                    >&raquo;</a
                  >
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&raquo;</span>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
  $("#mainTable").tablesorter({
    sortReset   : true,
    dateFormat : "ddmmyyyy",
    headers: { 5: {sorter: 'shortDate'}, 7: {sorter: false}, 8: {sorter: false}, 9: {sorter: false}, 10: {sorter: false}, 11: {sorter: false} },
  });
});
</script>
{% endblock javascripts %}
