{% extends "layouts/base.html" %}
{% block title %}
    Management
{% endblock title %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <h2>
                <i class="tim-icons icon-settings-gear-63"></i> Management Panel
            </h2>
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">User Email List</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group ">
                                <label for="user_emails">User Email List</label>
                                <input name="user_email_list"
                                       id="id_user_email_list"
                                       type="text"
                                       class="form-control"
                                       value="{{ user_email_list }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'admin:index' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Django
                            Admin</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'qubit_fix' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Qubit Fix</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'remap' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Remap sample types and biopsy location</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'qubit_list' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Qubit List</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'marvel_timepoint_fix' timepoint='baseline' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Marvel timepoint fix baseline</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'marvel_timepoint_fix' timepoint='12_weeks' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Marvel timepoint fix 12w</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'marvel_timepoint_fix' timepoint='24_weeks' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Marvel timepoint fix 24w</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'no_timepoint_view' study_name='marvel' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Marvel no timepoint list</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'no_timepoint_view' study_name='music' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Music no timepoint list</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'no_timepoint_view' study_name='mini_music' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Mini MUSIC no timepoint list</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'minimusic_timepoint_fix' timepoint='baseline' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">minimusic timepoint fix baseline</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'minimusic_timepoint_fix' timepoint='3_months' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">minimusic timepoint fix 3m</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'minimusic_timepoint_fix' timepoint='6_months' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">minimusic timepoint fix 6m</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'minimusic_timepoint_fix' timepoint='9_months' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">minimusic timepoint fix 9m</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'minimusic_timepoint_fix' timepoint='12_months' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">minimusic timepoint fix 12m</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
