{% extends "layouts/base.html" %}
{% block title %}
    Management
{% endblock title %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <h2>
                <i class="tim-icons icon-settings-gear-63"></i> Management Panel
            </h2>
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">User Email List</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group ">
                                <label for="user_emails">User Email List</label>
                                <input name="user_email_list"
                                       id="id_user_email_list"
                                       type="text"
                                       class="form-control"
                                       value="{{ user_email_list }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'admin:index' %}"
                               class="btn btn-fill btn-success"
                               target="_blank">Django
                            Admin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
