{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<h2><i class="tim-icons icon-notes"></i> Published Notes</h2>
<div class="row">
  <div class="col mb-4">
    <a href="/add/" class="btn btn-fill btn-success">Add New Note</a>
  </div>
</div>

<div class="row">
  {% for note in notes %}
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ note.title }}</h3>
        <h4>{{ note.author.username }}</h4>
      </div>
      <div class="card-body">
        {{ note.content|safe }}
      </div>

    </div>


  </div>
  {% endfor %}


</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function(){
});
</script>
{% endblock javascripts %}
