{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="tim-icons icon-notes"></i> Quick Reference
        </h3>
      </div>
      <div class="card-body">
        <h4></h4>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="tim-icons icon-pin"></i> PAXgene Blood ccfDNA Tube
        </h3>
      </div>
      <div class="card-body">
        <p>Tube website: <a target="_blank" rel="noopener" href="https://www.preanalytix.com/products/blood/ccfdna/paxgene-blood-ccfdna-tube-ce-ivd/DE?cHash=eeea703b765ae212802f52ab1822f562">www.preanalytix.com</a>  </p>
        <p><strong>Important considerations:</strong> Blood filled PAXgene Blood ccfDNA tubes cannot be stored for more than 7 days without compromising cfDNA and must be spun down to plasma (which can be frozen) within this time.</p>
        <h4>Protocol:</h4>
        <ol>
          <li>Collect blood in accordance to the guidelines (<a target="_blank" rel="noopener" href="https://www.preanalytix.com/storage/download/_ProductResources_/Brochures/PROM-4675-001_BD-4675_FL_Blood_ccfDNA_TubeCE_How_to_collect_blood_0218_EU_WEB.PDF">www.preanalytix.com</a>) outlined by PreAnalytiX for PAXgene Blood ccfDNA tubes</li>
          <li>After collection, gently invert PAXgene Blood ccfDNA tubes 8 times.</li>
          <li>Store PAXgene Blood ccfDNA tubes upright at <strong>room temperature (15oC to 27oC)</strong> for up to 7 days. Do not allow blood filled PAXgene Blood ccfDNA tubes to drop below 2oC.</li>
          <li>For on-site preparation of plasma from PAXgene Blood ccfDNA tubes, please go straight to step 6.</li>
          <li><strong>Transport:</strong> Blood filled PAXgene Blood ccfDNA tubes fall under regulation UN3373, Biological Substance, Category B and packaging must be fully compliant with IATA DGR Packaging Instruction 650 requiring labelling instructions and a triple packaging concept with primary receptacle, secondary absorbent package and rigid outer packaging. PAXgene Blood ccfDNA Tubes (CE-IVD) act as a primary receptacle. Blood filled PAXgene Blood ccfDNA tubes must be transported at room temperature (2oC and 30oC) and if not processing on site (step 6), must be transported to QMRI/University of Edinburgh within 7 days of taking blood.</li>
          <li>To obtain cell-free plasma, centrifuge blood filled PAXgene Blood ccfDNA tubes at 1000 x g for 10mins at 4oC. Remove resulting plasma from PAXgene Blood ccfDNA tube avoiding buffy coat (as a guide take upper 2/5th of initial blood volume in plasma, this should be around 4 ml plasma from 10 ml whole blood) and transfer into a tube with a layer of 1 ml 90% Percoll. Centrifuge plasma at 16000 x g for 10 mins at 4oC allowing platelets to be cushioned into the Percoll without rupturing.</li>
          
        </ol>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="tim-icons icon-pin"></i> EDTA
        </h3>
      </div>
      <div class="card-body">
        <h4>place to upload reference files for viewing</h4>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="tim-icons icon-pin"></i> EDTA
        </h3>
      </div>
      <div class="card-body">
        <h4>place to upload reference files for viewing</h4>
      </div>
    </div>
  </div>




</div>



  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="tim-icons icon-cloud-download-93"></i> Downloads
        </h3>
      </div>
      <div class="card-body">
        <p>place to upload reference files for viewing</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script></script>

{% endblock javascripts %}
