{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="row">
  
  <div class="col-lg-8">
    <h2><i class="tim-icons icon-notes"></i> Reference</h2>

  <div class="row">
    <div class="col">
    <div class="notes card">
      <div class="card-header">
        <h2 class="card-title">
          MUSIC Sampling Overview
        </h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="">
            <thead>
              <th>Blood</th>
              <th>Notes</th>
              <th>Processing/Storage</th>
            </thead>
            <tbody>
              <tr>
                <td>NHS EDTA x1</td>
                <td>FBC</td>
                <td>Send to local NHS lab</td>
              </tr>
              <tr>
                <td>NHS Serum x1</td>
                <td>U&E/calcium/albumin/LFTs/CRP</td>
                <td>Send to local NHS lab</td>
              </tr>
              <tr>
                <td>PaxGene ccfDNA tube x1</td>
                <td><strong><span class="text-primary">** Don't freeze, room temp up to 7 days **</span></strong></td>
                <td>Perform <a href="#ccfdna_extraction">plasma extraction</a> <strong>within 7 days</strong> and store extract in -80
                </td>
              </tr>
              <tr>
                <td>PaxGene RNA tube x1</td>
                <td>Room temp up to 3 days, -20 or -80 up to 4 years</td>
                <td>Store directly into freezer, no processing required</td>
              </tr>
              <tr>
                <td>EDTA 10ml tube x2</td>
                <td><span class="text-primary"><strong>Process within 6 hours</strong></span></td>
                <td>Perform <a href="#edta_extraction">plasma extraction</a> <strong>within 6 hours</strong> and store extract in -80</td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="table-responsive">
          <table class="">
            <thead>
              <th>Stool</th>
              <th>Processing/Storage</th>
            </thead>
            <tbody>
              <tr>
                <td>NHS Calprotectin x1</td>
                <td>Send to local NHS lab</td>
              </tr>
              <tr>
                <td>qFIT x1</td>
                <td>Post directly to Dundee with NHS request form containing patient details</td>
              </tr>
              <tr>
                <td>OmniGut x1</td>
                <td>Store directly in -80</td>
              </tr>
              <tr>
                <td>Standard stool container x1</td>
                <td>Store directly in -80</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive">
          <table class="">
            <thead>
              <th>Saliva</th>
              <th>Processing/Storage</th>
            </thead>
            <tbody>
              <tr>
                <td>TBC</td>
                <td>TBC</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col">
    <div class="notes card" id="edta_extraction">
      <div class="card-header">
        <h3 class="card-title">
          EDTA Plasma Extraction
        </h3>
      </div>
      <div class="card-body">
        <h5>Equipment:</h5>
        <ul>
          <li>Refrigerated centrifuge(s)</li>
          <li>15ml sterile tubes</li>
          <li>2ml screw-top tubes</li>
          <li>QR labels</li>
          <li>Pipette and 1ml tips</li>
        </ul>

        <h5>Steps:</h5>
        <ol>
          <li><strong>1000 x g for 10mins at room temp</strong></li>
          <li>Transfer plasma to sterile tube</li>
          <li><strong>3000 x g for 10mins at room temp</strong></li>
          <li>Divide into 1 ml aliquots in screw-top tubes</li>
          <li>Label and register each aliquot G-Trac</li>
          <li>Freeze at -80&deg;C</li>
        </ol>


      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col">
    <div class="notes card" id="ccfdna_extraction">
      <div class="card-header">
        <h3 class="card-title">
          PAXgene ccfDNA Plasma Extraction
        </h3>
      </div>
      <div class="card-body">
        <h5>Equipment:</h5>
        <ul>
          <li>Refrigerated centrifuge(s)</li>
          <li>1.5ml eppendorf tubes</li>
          <li>2ml screw-top tubes</li>
          <li>QR labels</li>
          <li>Pipette and 1ml tips</li>
          <li>(Fume hood)</li>
        </ul>
        <h5>Notes:</h5>
        <ul>
          <li>Gentle acceleration/deceleration – suggestion set to 5/5 respectively.</li>
          <li>Score haemolysis by assessing colour of plasma using chart (available on add new sample page). Plasma with a score of 4 or higher (100 mg/dL) not to be used for MUSIC</li>
          <li>To enable automated calculation of time to processing: please fill in sample created datetime as datetime of original blood sample and record processing datetime as datetime of finishing this process</li>
          <li>Perform this protocol as sterile as possible - we extract these samples under a fume hood in QMRI</li>
        </ul>
        <h5>Steps:</h5>
        <ol>
          <li><strong>1,600 x g for 10 mins at room temp</strong></li>
          <li>Transfer plasma into new tube leaving ~1cm buffer between cells and plasma</li>
          <li>Record haemolysis levels</li>
          <li><strong>16,000 x g for 10mins at room temp</strong></li>
          <li>Divide into 1 ml aliquots in screw-top tubes</li>
          <li>Label and register each aliquot onto G-Trac</li>
          <li>Freeze at -80&deg;C</li>
        </ol>

      </div>

      <div class="card-footer"></div>
    </div>
  </div>
  </div>


  </div>
  {% load static %}
  <div class="col-lg-4">
    <h2><i class="tim-icons icon-cloud-download-93"></i> Downloads</h2>
    <div class="card notes">
      <div class="card-header">
        <h2 class="card-title">
           MUSIC Files
        </h2>
      </div>
      <div class="card-body music-files">
        <h3>Data Collection Forms</h3>
          <a target='_blank' rel="noopener" href="{% static 'assets/files/2020-09-04 MUSIC Consent Form V3.0.pdf' %}">
            <i class="tim-icons icon-paper"></i> Consent Form V3.0 2020-09-04.pdf
          </a>
          <a target='_blank' rel="noopener" href="{% static 'assets/files/MUSIC Baseline Visit V2.0 11 Feb 2021.pdf' %}">
            <i class="tim-icons icon-paper"></i> MUSIC Baseline Visit V2.0 11 Feb 2021.pdf
          </a>
          <a target='_blank' rel="noopener" href="{% static 'assets/files/MUSIC Follow-up Visits V1.0 11 Feb 2021.pdf' %}">
            <i class="tim-icons icon-paper"></i> MUSIC Follow-up Visits V1.0 11 Feb 2021.pdf
          </a>
          <a target='_blank' rel="noopener" href="{% static 'assets/files/MUSIC CUCQ-32 V1.0 22 Jan 2021.pdf' %}">
            <i class="tim-icons icon-paper"></i> MUSIC CUCQ-32 V1.0 22 Jan 2021.pdf
          </a>
          
        <h3>Endoscopy Scoring Form</h3>
        <a target='_blank' rel="noopener" href="{% static 'assets/files/IBD Endoscopy Scores - GGC Branding.pdf' %}">
          <i class="tim-icons icon-paper"></i> IBD Endoscopy Scores - GGC Branding.pdf
        </a>
        <a target='_blank' rel="noopener" href="{% static 'assets/files/IBD Endoscopy Scores - Lothian Branding.pdf' %}">
          <i class="tim-icons icon-paper"></i> IBD Endoscopy Scores - Lothian Branding.pdf
        </a>
        <a target='_blank' rel="noopener" href="{% static 'assets/files/IBD Endoscopy Scores - Tayside Branding.pdf' %}">
          <i class="tim-icons icon-paper"></i> IBD Endoscopy Scores - Tayside Branding.pdf
        </a>

        <h3>Information Sheets</h3>
        <a target='_blank' rel="noopener" href="{% static 'assets/files/MUSIC PIS Summary V1.0 Unbranded.pdf' %}">
          <i class="tim-icons icon-paper"></i> Patient Information Summary
        </a>
        <a target='_blank' rel="noopener" href="{% static 'assets/files/2020-09-04 MUSIC Patient Information Sheet V3.0.pdf' %}">
          <i class="tim-icons icon-paper"></i> Patient Information Full
        </a>
        <a target='_blank' rel="noopener" href="{% static 'assets/files/MUSIC Stool Instructions v1.0.pdf' %}">
          <i class="tim-icons icon-paper"></i> Stool Sampling Instructions
        </a>

        <h3>Study Protocol</h3>
        <a target='_blank' rel="noopener" href="{% static 'assets/files/MUSIC Protocol V3.0.pdf' %}">
          <i class="tim-icons icon-paper"></i> Full Study Protocol
        </a>

      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script></script>

{% endblock javascripts %}
