{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
  Dashboard
{% endblock title %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="row">
          <div class="col-xl-9">
            <div class="alert alert-danger">
              <button type="button"
                      aria-hidden="true"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <span>{{ field.label }}: {{ error|escape }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-xl-9">
      <h2>
        <i class="tim-icons icon-tag"></i> QR Scan - Mark as used
      </h2>
      {% include "barcode-nav.html" %}
      <div class="card notes remove-top-border-radius">
        <div class="card-header">
          <h3 class="card-title">Instructions</h3>
        </div>
        <div class="card-body">
          <p>
            <strong>Important Note:</strong> Barcode scanners work like keyboards.
            For most scanners, the default is to provide the 'enter' key after
            scanning a barcode. Some scanners may need to be configured to provide
            the 'enter' or 'tab' key on code scan. This page accepts both 'enter'
            and 'tab' keys from barcode scanners.
          </p>
          <h4>Steps:</h4>
          <ol>
            <li>Fill in the required details</li>
            <li>Start scanning to tag samples with those details</li>
          </ol>
          <p>
            <strong>Tip:</strong> If a label won't scan, you can type in the
            sample ID and hit enter instead.
          </p>
        </div>
      </div>
      <form autocomplete="off" id="add_multiple_form">
        {% csrf_token %}
        <div class="card">
          <!--<div class="card-header"><h3 class="card-title">Add New Sample</h3></div>-->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div id="non_field_errors" class="text-danger text-lg"></div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label for="id_sample_location">Sample Location*:</label>
                <input type="text"
                       name="sample_location"
                       maxlength="200"
                       class="form-control"
                       required
                       id="id_sample_location"
                       autocomplete="off" />
                <div id="id_sample_location_error" class="text-danger text-lg"></div>
              </div>
              <div class="form-group col-md-4">
                <label for="id_sample_sublocation">Sample Sublocation:</label>
                <input type="text"
                       name="sample_sublocation"
                       maxlength="200"
                       class="form-control"
                       id="id_sample_sublocation"
                       autocomplete="off" />
                <div id="id_sample_sublocation_error" class="text-danger text-lg"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="id_study_name">Study Name*:</label>
              <select name="study_name" class="form-control" required="" id="id_study_name">
                <option value="" selected="">---------</option>
                <option value="gidamps">GI-DAMPs</option>
                <option value="music">MUSIC</option>
                <option value="mini_music">Mini-MUSIC</option>
                <option value="marvel">MARVEL</option>
                <option value="mini_marvel">Mini-MARVEL</option>
                <option value="fate_cd">FATE-CD</option>
                <option value="none">None</option>
              </select>
              <div id="id_study_name_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_music_timepoint">Music Timepoint:</label>
              <select name="music_timepoint"
                      class="form-control"
                      required=""
                      id="id_music_timepoint">
                <option value="" selected="">---------</option>
                <option value="baseline">Baseline</option>
                <option value="3_months">3 Months</option>
                <option value="6_months">6 Months</option>
                <option value="9_months">9 Months</option>
                <option value="12_months">12 Months</option>
              </select>
              <div id="id_music_timepoint_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_marvel_timepoint">Marvel Timepoint:</label>
              <select name="marvel_timepoint"
                      class="form-control"
                      required=""
                      id="id_marvel_timepoint">
                <option value="" selected="">---------</option>
                <option value="baseline">Baseline</option>
                <option value="12_weeks">12 Weeks</option>
                <option value="24_weeks">24 Weeks</option>
              </select>
              <div id="id_marvel_timepoint_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_study_id">Study ID*:</label>
              <input type="text"
                     name="study_id"
                     maxlength="200"
                     class="form-control"
                     required
                     id="id_study_id"
                     autocomplete="off" />
              <div id="id_study_id_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_sample_type">Sample Type*:</label>
              <select name="sample_type"
                      class="form-control"
                      required=""
                      id="id_sample_type">
                <option value="" selected="">---------</option>
                <option value="standard_edta">Standard EDTA tube</option>
                <option value="edta_plasma">EDTA plasma child aliquot</option>
                <option value="cfdna_tube">PaxGene cfDNA tube</option>
                <option value="cfdna_plasma">PaxGene cfDNA plasma</option>
                <option value="cfdna_extracted">Extracted cfDNA</option>
                <option value="paxgene_rna">PaxGene RNA tube</option>
                <option value="rna_plasma">PaxGene RNA child aliquot</option>
                <option value="standard_gel">Standard gel tube</option>
                <option value="serum">Serum</option>
                <option value="biopsy_formalin">Formalin biopsy</option>
                <option value="biopsy_rnalater">RNAlater biopsy</option>
                <option value="paraffin_block">Paraffin block</option>
                <option value="stool_standard">Standard stool</option>
                <option value="stool_calprotectin">Calprotectin</option>
                <option value="stool_qfit">qFIT</option>
                <option value="stool_omnigut">OmniGut</option>
                <option value="stool_supernatant">Stool supernatant</option>
                <option value="saliva">Saliva</option>
                <option value="other">Other - please specify in comments</option>
              </select>
              <div id="id_sample_type_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_qubit_cfdna_ng_ul" style="">Qubit (ng/uL:):</label>
              <input type="number"
                     name="qubit_cfdna_ng_ul"
                     step="0.001"
                     class="form-control"
                     id="id_qubit_cfdna_ng_ul"
                     style="" />
              <div id="id_qubit_cfdna_ng_ul_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_haemolysis_reference">Haemolysis Reference Palette:</label>
              <select name="haemolysis_reference"
                      maxlength="200"
                      class="form-control"
                      id="id_haemolysis_reference">
                <option value="" selected>Select category</option>
                <option value="0">Minimal</option>
                <option value="20">20 mg/dL</option>
                <option value="50">50 mg/dL</option>
                <option value="100">100 mg/dL (unusable)</option>
                <option value="250">250 mg/dL (unusable)</option>
                <option value="500">500 mg/dL (unusable)</option>
                <option value="1000">1000 mg/dL (unusable)</option>
              </select>
              <div id="id_haemolysis_reference_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_paraffin_block_key">Paraffin Block Key:</label>
              <input type="text"
                     name="paraffin_block_key"
                     maxlength="10"
                     class="form-control"
                     id="id_paraffin_block_key" />
            </div>
            <div class="form-group">
              <label for="id_biopsy_location">Biopsy Location:</label>
              <select name="biopsy_location"
                      class="form-control"
                      id="id_biopsy_location"
                      style="display: none">
                <option value="" selected="">---------</option>
                <option value="terminal_ileum">Terminal ileum</option>
                <option value="caecum">Caecum</option>
                <option value="ascending">Ascending colon</option>
                <option value="transverse">Transverse colon</option>
                <option value="descending">Descending colon</option>
                <option value="sigmoid">Sigmoid colon</option>
                <option value="rectum">Rectum</option>
                <option value="right_colon">Right colon</option>
                <option value="left_colon">Left colon</option>
                <option value="oesophagus">Oesophagus</option>
                <option value="stomach">Stomach</option>
                <option value="duodenum">Duodenum</option>
              </select>
              <div id="id_biopsy_location_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_biopsy_inflamed_status">Biopsy Inflamed Status:</label>
              <select name="biopsy_inflamed_status"
                      maxlength="100"
                      class="form-control"
                      id="id_biopsy_inflamed_status">
                <option value="" selected>Select inflamed status</option>
                <option value="inflamed">Inflamed</option>
                <option value="uninflamed">Uninflamed</option>
                <option value="healthy">Healthy</option>
              </select>
              <div id="id_biopsy_inflamed_status_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_sample_datetime">Sampling Datetime*:</label>
              <input type="datetime-local"
                     name="sample_datetime"
                     class="form-control"
                     required
                     id="id_sample_datetime" />
              <div id="id_sample_datetime_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_processing_datetime">Processing Datetime:</label>
              <input type="datetime-local"
                     name="processing_datetime"
                     class="form-control"
                     id="id_processing_datetime" />
              <div id="id_processing_datetime_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_frozen_datetime">Frozen Datetime (if applicable):</label>
              <input type="datetime-local"
                     name="frozen_datetime"
                     class="form-control"
                     id="id_frozen_datetime" />
              <div id="id_frozen_datetime_error" class="text-danger text-lg"></div>
            </div>
            <div class="form-group">
              <label for="id_sample_comments">Comments:</label>
              <textarea name="sample_comments"
                        cols="40"
                        rows="10"
                        class="form-control"
                        id="id_sample_comments"></textarea>
              <div id="id_sample_comments_error" class="text-danger text-lg"></div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label for="id_sample_volume">Volume Remaining (est.):</label>
                <input type="number"
                       name="sample_volume"
                       step="0.001"
                       class="form-control"
                       id="id_sample_volume" />
                <div id="id_sample_volume_error" class="text-danger text-lg"></div>
              </div>
              <div class="form-group col-md-4">
                <label for="id_sample_volume_units">Sample Volume Units:</label>
                <select name="sample_volume_units"
                        class="form-control"
                        maxlength="30"
                        id="id_sample_volume_units">
                  <option value="" selected>Select unit</option>
                  <option value="ml">ml</option>
                  <option value="ul">ul</option>
                </select>
                <div id="id_sample_volume_units_error" class="text-danger text-lg"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="id_freeze_thaw_count">No. of Freeze-Thaw Cycles:</label>
              <input type="number"
                     name="freeze_thaw_count"
                     value="0"
                     class="form-control"
                     required
                     id="id_freeze_thaw_count" />
              <div id="id_freeze_thaw_count_error" class="text-danger text-lg"></div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label for="id_sample_id">Barcode ID scanning area</label>
              <input type="text"
                     class="form-control"
                     id="id_sample_id"
                     placeholder="Click here and start scanning barcodes..." />
            </div>
            <div id="id_sample_id_error" class="text-danger text-lg"></div>
            <div class="alert alert-success">
              <button type="button"
                      aria-hidden="true"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <span>Success - Sample Updated</span>
            </div>
            <div class="alert alert-danger">
              <button type="button"
                      aria-hidden="true"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <span>Error <span id="error_message"></span></span>
            </div>
          </div>
        </div>
      </form>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Scan History</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <td>Sample ID</td>
                <td>Status</td>
                <td>Message</td>
              </thead>
              <tbody id="tbody">
                <tr>&nbsp;</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mt-4 ">
        <div class="card-header">
          <h3 class="card-title">Haemolysis Reference Palette</h3>
        </div>
        <div class="card-body">
          <img src="{% static 'assets/img/haemolysis.jpg' %}"
               alt="haemolysis palette"
               width="275"
               height="825" />
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{% static 'assets/js/sample_add_autocomplete.js' %}"></script>
  <script src="{% static 'assets/js/sample_show_hide_fields.js' %}"></script>
  <script src="{% static 'assets/js/barcode-addmultiple.js' %}"></script>
{% endblock javascripts %}
