{% extends "layouts/base.html" %}

{% block title %}
  Dashboard
{% endblock title %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Search DataStore</h3>
        </div>
        <div class="card-body">
          <form id="searchform" action="{% url 'datastore_search' %}" method="get">
            <div class="form-group">
              <input type="text" autofocus name="q" class="form-control" />
            </div>
            <div>
              <button type="submit" class="btn btn-fill btn-success">Search</button>
              <a href="{% url 'datastore_list' %}" class="btn btn-fill btn-secondary">Clear</a>
              <a href="{% url 'datastore_filter' %}"
                 class="btn btn-fill btn-success float-lg-right">Advanced
              Filtering</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">DataStore by Study</h3>
        </div>
        <div class="card-footer">
          <div>
            <a href="{% url 'datastore_filter' %}?study_name=music"
               class="btn btn-fill btn-success">MUSIC</a>
            <a href="{% url 'datastore_filter' %}?study_name=gidamps"
               class="btn btn-fill btn-success">GI-DAMPs</a>
            <a href="{% url 'datastore_filter' %}?study_name=mini_music"
               class="btn btn-fill btn-success">Mini-Music</a>
            <a href="{% url 'datastore_filter' %}?study_name=marvel"
               class="btn btn-fill btn-success">MARVEL</a>
            <a href="{% url 'datastore_filter' %}?study_name=fate_cd"
               class="btn btn-fill btn-success">FATE-CD</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Files</h3>
        </div>
        <div class="card-footer">
          <a href="{% url 'datastore_create' %}" class="btn btn-fill btn-success">Upload New File</a>
          <a href="{% url 'datastore_search_export_csv' %}?q={{ query_string }}"
             class="btn btn-success float-lg-right"
             data-toggle="tooltip"
             data-placement="bottom"
             data-html="true"
             title="Tip: Customise the export by searching for the set of file metadata you wish to download."><i class="tim-icons icon-cloud-download-93"></i> Export Current View
          to CSV</a>
        </div>
        <div class="card-body">
          <div class="d-flex flex-row-reverse pb-3">Total Count: {{ datastores|length }}</div>
          <div class="table-responsive">
            <table class="table tablesorter" id="mainTable">
              <thead class="text-primary">
                <tr>
                  <th>Category</th>
                  <th>Study Name</th>
                  <th>Patient ID</th>
                  <th>File Name</th>
                  <th>Comments</th>
                  <th>Size</th>
                  <th>Type</th>
                  <th>Upload Date</th>
                  <th>Timepoint</th>
                  <th>Sample ID</th>
                  <th>Download</th>
                  <th>View Metadata</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% if datastores %}
                  {% for file in datastores %}
                    <tr>
                      <td>{{ file.get_category_display }}</td>
                      <td>{{ file.get_study_name_display }}</td>
                      <td>{{ file.patient_id }}</td>
                      <td>{{ file.formatted_file_name }}</td>
                      <td>{{ file.comments }}</td>
                      <td>{{ file.size|filesizeformat }}</td>
                      <td>{{ file.file_type }}</td>
                      <td>{{ file.upload_finished_at|date:'d M Y H:i' }}</td>
                      <td>
                        {% if file.music_timepoint %}
                          {{ file.get_music_timepoint_display }}
                        {% elif file.marvel_timepoint %}
                          {{ file.get_marvel_timepoint_display }}
                        {% else %}
                          None
                        {% endif %}
                      </td>
                      <td>{{ file.sample_id }}</td>
                      <td>
                        <a href="{% url 'datastore_download' id=file.id %}"><i class="tim-icons icon-cloud-download-93"></i> Download</a>
                        <a href="{% url 'datastore_azure_view' id=file.id %}" target="_blank"><i class="tim-icons icon-zoom-split"></i> View on Azure</a>
                      </td>
                      <td>
                        <a href="{% url 'datastore_read' id=file.id %}"><i class="tim-icons icon-zoom-split"></i> View</a>
                      </td>
                      <td class="text-center">
                        <a href="#"
                           data-toggle="modal"
                           data-target="#deleteConfirmModal"
                           data-href="{% url 'datastore_delete' id=file.id %}"><i class="tim-icons icon-send align-center"></i> Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="13" align="center">No active files found.</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
            {% include "layouts/pagination.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Confirmation Modal -->
  <div class="modal fade"
       id="deleteConfirmModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="deleteConfirmModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <svg width="24"
                   height="24"
                   data-slot="icon"
                   fill="none"
                   stroke-width="1.5"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </span>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to delete this file?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="#" class="btn btn-danger" id="confirmDeleteBtn">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
      $("#mainTable").tablesorter({
        sortReset: true,
        dateFormat: "ddmmyyyy",
        headers: {
          6: {
            sorter: 'shortDate'
          },
          13: {
            sorter: false
          },
          9: {
            sorter: false
          },
          10: {
            sorter: false
          },
          11: {
            sorter: false
          },
          12: {
            sorter: false
          },

        },
      });

      $('#deleteConfirmModal').on('show.bs.modal', function(e) {
        var url = $(e.relatedTarget).data('href');
        $('#confirmDeleteBtn').attr('href', url);
      });
    });
  </script>
{% endblock javascripts %}
