{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
  Dashboard
{% endblock title %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Filter Files</h3>
        </div>
        <div class="card-body">
          <form id="searchform" method="get">
            {% load widget_tweaks %}

            <div class="row mb-4">
              {% for field in datastore_filter.form %}
                <div class="col-md-3">
                  <div class="form-group">{{ field.label_tag }} {% render_field field class="form-control" %}</div>
                </div>
              {% endfor %}
            </div>
            <div>
              <button type="submit" class="btn btn-fill btn-success">Filter</button>
              <a href="{% url 'datastore_filter' %}"
                 class="btn btn-fill btn-secondary">Clear</a>
            <a href="{% url 'datastore_filter_export_csv' %}?{{ parameter_string }}"
               class="btn btn-success float-lg-right"><i class="tim-icons icon-cloud-download-93"></i>
          Export CSV</a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Files</h3>
      </div>
      <div class="card-footer">
        <a href="{% url 'datastore_create_ajax' %}"
           class="btn btn-fill btn-success">Upload File</a>
      </div>
      {% include 'datastore/includes/datastore_file_table.html' %}
    </div>
  </div>
</div>
{% include 'datastore/includes/datastore_delete_modal.html' %}
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="{% static 'assets/js/datastore_list.js' %}"></script>
{% endblock javascripts %}
