{% extends "layouts/base.html" %}
{% block title %}
    Dashboard
{% endblock title %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Search DataStore</h3>
                </div>
                <div class="card-body">
                    <form id="searchform" action="{% url 'sample_search' %}" method="get">
                        <div class="form-group">
                            <input type="text" autofocus name="q" class="form-control" />
                        </div>
                        <div class="form-check">
                            <input type="checkbox"
                                   class="form-check-input mr-2"
                                   id="id_include_used_samples"
                                   name="include_used_samples"
                                   value="True"
                                   class="form-control" />
                            <label for="id_include_used_samples" class="form-check-label">Include used samples?</label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-fill btn-success">Search</button>
                            <a href="{% url 'home' %}" class="btn btn-fill btn-secondary">Clear</a>
                            <a href="{% url 'filter' %}"
                               class="btn btn-fill btn-success float-lg-right">Advanced
                            Filtering</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">DataStore by Study</h3>
                </div>
                <div class="card-footer">
                    <div>
                        <a href="{% url 'filter' %}?study_name=music"
                           class="btn btn-fill btn-success">MUSIC</a>
                        <a href="{% url 'filter' %}?study_name=gidamps"
                           class="btn btn-fill btn-success">GI-DAMPs</a>
                        <a href="{% url 'filter' %}?study_name=mini_music"
                           class="btn btn-fill btn-success">Mini-Music</a>
                        <a href="{% url 'filter' %}?study_name=marvel"
                           class="btn btn-fill btn-success">MARVEL</a>
                        <a href="{% url 'filter' %}?study_name=fate_cd"
                           class="btn btn-fill btn-success">FATE-CD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Files
                        {% if study_name %}- ({{ study_name }}){% endif %}
                    </h3>
                </div>
                <div class="card-footer">
                    <a href="{% url 'sample_add' %}" class="btn btn-fill btn-success">Upload New File</a>
                    <a href="{% url 'export_csv' study_name='all' %}?q={{ query_string }}"
                       class="btn btn-success float-lg-right"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-html="true"
                       title="Tip: Customise the export by searching for the set of samples you wish to download."><i class="tim-icons icon-cloud-download-93"></i> Export Current View
                    to CSV</a>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-row-reverse pb-3">Total Count: -tba-</div>
                    <div class="table-responsive">
                        <table class="table tablesorter" id="mainTable">
                            <thead class="text-primary">
                                <tr>
                                    <th>Study Name</th>
                                    <th>Category</th>
                                    <th>File Name</th>
                                    <th>Sample ID</th>
                                    <th>Patient ID</th>
                                    <th>Size</th>
                                    <th>Type</th>
                                    <th>Upload Date</th>
                                    <th>Timepoint</th>
                                    <th>Comments</th>
                                    <th>View</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if datastores %}
                                    {% for file in datastores %}
                                        <tr>
                                            <td>{{ file.get_study_name_display }}</td>
                                            <td>{{ file.get_category_display }}</td>
                                            <td>{{ file.formatted_file_name }}</td>
                                            <td>{{ file.sample_id }}</td>
                                            <td>{{ file.patient_id }}</td>
                                            <td>{{ file.size }}</td>
                                            <td>{{ file.file_type }}</td>
                                            <td>{{ file.upload_finished_at|date:'d M Y H:i' }}</td>
                                            <td>
                                                {% if file.music_timepoint %}
                                                    {{ file.get_music_timepoint_display }}
                                                {% elif file.marvel_timepoint %}
                                                    {{ file.get_marvel_timepoint_display }}
                                                {% else %}
                                                    None
                                                {% endif %}
                                            </td>
                                            <td>{{ file.comments }}</td>
                                            <td>
                                                <a href=""><i class="tim-icons icon-zoom-split"></i> View</a>
                                            </td>
                                            <td>
                                                <a href=""><i class="tim-icons icon-pencil"></i> Edit</a>
                                            </td>
                                            <td class="text-center">
                                                <a href=""><i class="tim-icons icon-send align-center"></i> Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="13" align="center">No active files found.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {% include "layouts/pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#mainTable").tablesorter({
            sortReset: true,
            dateFormat: "ddmmyyyy",
            headers: {
                6: {
                    sorter: 'shortDate'
                },
                13: {
                    sorter: false
                },
                9: {
                    sorter: false
                },
                10: {
                    sorter: false
                },
                11: {
                    sorter: false
                },
                12: {
                    sorter: false
                },

            },
        });
    });
    </script>
{% endblock javascripts %}
