{% extends "layouts/base.html" %}

{% block title %}
  Dashboard
{% endblock title %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Filter Files</h3>
        </div>
        <div class="card-body">
          <form id="searchform" method="get">
            {% load widget_tweaks %}

            <div class="row mb-4">
              {% for field in datastore_filter.form %}
                <div class="col-md-3">
                  <div class="form-group">{{ field.label_tag }} {% render_field field class="form-control" %}</div>
                </div>
              {% endfor %}
            </div>
            <div>
              <button type="submit" class="btn btn-fill btn-success">Filter</button>
              <a href="{% url 'datastore_filter' %}"
                 class="btn btn-fill btn-secondary">Clear</a>
            <a href="{% url 'datastore_filter_export_csv' %}?{{ parameter_string }}"
               class="btn btn-success float-lg-right"><i class="tim-icons icon-cloud-download-93"></i>
          Export CSV</a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Files</h3>
      </div>
      <div class="card-footer">
        <a href="{% url 'datastore_create' %}" class="btn btn-fill btn-success">Upload New File</a>
      </div>
      <div class="card-body">
        <div class="d-flex flex-row-reverse pb-3">Total Count: {{ datastores|length }}</div>
        <div class="table-responsive">
          <table class="table tablesorter" id="mainTable">
            <thead class="text-primary">
              <tr>
                <th>Category</th>
                <th>Study Name</th>
                <th>Patient ID</th>
                <th>File Name</th>
                <th>Comments</th>
                <th>Size</th>
                <th>Type</th>
                <th>Upload Date</th>
                <th>Timepoint</th>
                <th>Sample ID</th>
                <th>Download</th>
                <th>View File</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% if datastores %}
                {% for file in datastores %}
                  <tr>
                    <td>{{ file.get_category_display }}</td>
                    <td>{{ file.get_study_name_display }}</td>
                    <td>{{ file.patient_id }}</td>
                    <td>{{ file.formatted_file_name }}</td>
                    <td>{{ file.comments }}</td>
                    <td>{{ file.size|filesizeformat }}</td>
                    <td>{{ file.file_type }}</td>
                    <td>{{ file.upload_finished_at|date:'d M Y H:i' }}</td>
                    <td>
                      {% if file.music_timepoint %}
                        {{ file.get_music_timepoint_display }}
                      {% elif file.marvel_timepoint %}
                        {{ file.get_marvel_timepoint_display }}
                      {% else %}
                        None
                      {% endif %}
                    </td>
                    <td>{{ file.sample_id }}</td>
                    <td>
                      <a href="{% url 'datastore_download' id=file.id %}"><i class="tim-icons icon-cloud-download-93"></i> Download</a>
                    </td>
                    <td>
                      <a href="{% url 'datastore_azure_view' id=file.id %}" target="_blank"><i class="tim-icons icon-zoom-split"></i> View</a>
                    </td>
                    <td class="text-center">
                      <a href="{% url 'datastore_delete' id=file.id %}"><i class="tim-icons icon-send align-center"></i> Delete</a>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="13" align="center">No active files found.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          {% include "layouts/pagination.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
