<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<!-- Static assets -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png"          href="{% static 'assets/img/favicon.png'    %}">

  <title>
    MUSIC Samples App
  </title>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Nucleo Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="white-content"> <!--add white-content to turn on light mode-->
  <div class="wrapper">

    {% include 'includes/sidebar.html' %}

    <div class="main-panel" data="blue">

      {% include 'includes/navigation.html' %}

      <div class="content">
        {% include 'includes/messages.html' %}
        {% block content %}{% endblock content %}

      </div>

      {% include 'includes/footer.html' %}

    </div>
    
  </div>

 
  {% include 'includes/scripts.html' %}

  {% include 'includes/scripts-sidebar.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
   
  
  $(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.sidebar > .nav > li > a[href="'+pathname+'"]').parent().addClass('active');
  })
  
  {% endblock javascripts %}

</body>

</html>